* {
  box-sizing: border-box;
}
img {
  display: block;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#categories {
  width: 440px;
  height: 888px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 0px;
}
.item {
  background-color: #F6F6FE;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: auto;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 16px;
}
.item ul {
  padding: 16px 16px;
}
.item ul li {
  list-style: none;
  border: #808080 solid 1px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin: 8px;
}


.gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  align-items: center;
  padding: 0;
}
/*.gallery li {
  width:calc((100% - 48px) / 3); 
}*/
.gallery img {
  height: 300px; 
  max-width: 360px;
}


#name-input {
  width: 360px;
  padding: 8px;
  color:#2E2F42;
}
#name-input::placeholder {
font-weight: 400;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #2E2F42;
}
h1, #name-output {
font-weight: 600;
font-size: 24px; 
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 8px;
}
.login-form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}
.login-form input {
  width: 360px;
  min-height: 40px;
  border: 1px solid #808080;
  border-radius: 5px;
  }
  .login-form input:hover {
    border-color: #000000;
  }
button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width:auto;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover,
button:focus {
  background: #6C8CFF;
}

#controls,
#boxes {
  display: flex;
  border-radius: 8px;
  padding: 32px;
  min-width: 486px;
  background-color: #f6f6fe;
}
#controls {
  gap: 16px;
  margin-bottom: 16px;
}
#boxes {
  gap: 44px;
  flex-wrap: wrap;
}
input {
  border: 1px solid #808080;
  border-radius: 8px;
  text-align: center;
  min-width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
}
.destroy-btn {
  background-color: #ff4e4e;
}
.destroy-btn:hover,
.destroy-btn:focus {
  background-color: #ff7070;
}